.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #fff8e1;
}

.container {
  display: flex;
  gap: 2rem;
  width: 100%; 
  margin-top: 2rem;
  max-width: 1400px;
}

.block {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 55%;
}

.center {
  flex-grow: 1;
}

.dashboard {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}
