.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  