.plannerContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.currentMonthYear {
  margin: 0 20px;
  font-size: 24px;
  font-weight: bold;
}

.calendar {
  display: flex;
  overflow-y: scroll;
  height: calc(100vh - 200px);
}

.hoursColumn {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin-right: 10px;
  margin-top: 70px;
  flex-shrink: 0;
}

.hoursColumn div {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: right;
  padding-right: 5px;
}

.timeSlot {
  height: 25px;
  line-height: 25px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.weekDays {
  display: flex;
  flex-grow: 1;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dayHeader {
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.highlight {
  background-color: rgba(0, 128, 0, 0.2); /* Light green background */
}

.breakHighlight {
  background-color: rgba(255, 0, 0, 0.2); /* Light red background for breaks */
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.buttonContainer button {
  padding: 10px 20px;
  border: none;
  background-color: #368f8b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: #2b7a6b;
}
