/* styles/Rewards.module.css */

.reward {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background 0.3s ease;
}

.reward:hover {
  background: #e0e7ed;
}

.rewardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.rewardCost {
  font-size: 1.2rem;
  color: #bb9457;
  font-weight: bold;
}

.reward.highlight {
  background-color: #fffacd !important;
  transition: background-color 2s;
}

.rewardPointsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    gap: 10px;
  }
  
  .rewardPoints {
    color: #bb9457;
    margin-left: 5px;
    font-weight: bold;
  }
  
  .rewardList {
    margin-top: 2rem;
  }
  