.rewardList {
  width: 100%;
  margin-top: 1rem;
  max-height: 80vh;
  overflow-y: auto;
}

.reward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background 0.3s ease;
}

.rewardLeft {
  display: flex;
  align-items: center;
}

.rewardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rewardContent h3 {
  font-size: 1.2rem;
  margin: 0;
}

.rewardContent p {
  font-size: 1rem;
  margin: 0;
}

.rewardPointsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  gap: 10px;
}

.rewardPoints {
  color: #bb9457;
  font-weight: bold;
}

.rewardRight {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.truncatedText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

.insideBtn {
  margin-right: 10px;
}
